
.container {
  background-color: skyblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  position: relative;
}

.yesbutton, .nobutton{
  background-color: #1d7cdf;
  padding: 10px;
  border-radius: 5px;
  width: 8em;
  border-color: #1d7cdf;
  box-shadow: 1em;
  pointer-events: visibleFill;
  margin: 20px;
}

.buttons{
/* display: flex; */
/* flex-direction: row; */
justify-content: space-between;
top:500px;
left:100px
}
.yesbutton:hover{
  background-color: blue;
}

img{
  width: 250px;
}
